train.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

	<xs:element name="trains">
		<xs:complexType>
			<xs:choice>
				<xs:element name="train">
					<xs:complexType>
						<xs:all>
							<xs:attribute name="version" type="xs:positiveInteger"/>
							<xs:element name="id" type="xs:string"/>
							<xs:element name="seats" typle="xs:nonNegativeInteger"/>
						</xs:all>
					</xs:complexType>
				</xs:element>
			</xs:choice>
		</xs:complexType>
	</xs:element>

</xs:schema>